.main{
    
}

.nav{
    display: flex;
    justify-content: space-around;
}

.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single p{
    font-weight: 100;
    color: aqua;
    
}